<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title>New Todo</mat-card-title>
                <mat-divider></mat-divider>
            <mat-card-content>
            <mat-form-field>
                <input matInput #input type="text" placeholder="Category" [(ngModel)]="newTodoCategory">
            </mat-form-field>
            <mat-form-field>
                <input id="CheckStatus" type="checkbox" name="Status"
                       (change)="newTodoStatus = $event.target.checked">
            </mat-form-field>
            <mat-form-field>
                <input matInput #input type="text" placeholder="Owner" [(ngModel)]="newTodoOwner">
            </mat-form-field>
            <mat-form-field>
                <input matInput #input type="text" placeholder="Body" [(ngModel)]="newTodoBody">
            </mat-form-field>

                <button mat-raised-button color="primary" #input type="button"
                    (click)="this.addNewTodo(newTodoCategory, newTodoStatus, newTodoOwner, newTodoBody)">Add Todo</button>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button (click)="onNoClick()" type="button">Exit</button>
    </div>
</div>

